.contacts {
    position: absolute;
    top: 23px;
    left: 187px;
    cursor: pointer;
}
.product {
    position: absolute;
    top: 23px;
    left: 86px;
}
.home {
    position: absolute;
    top: 23px;
    left: 0px;
    cursor: pointer;
}
.image-40-icon {
    position: absolute;
    top: 0px;
    left: 596px;
    width: 136px;
    height: 63px;
    object-fit: cover;
    mix-blend-mode: multiply;
}
.top-taksbar-menu {
    position: absolute;
    top: 17px;
    left: 56px;
    width: 732px;
    height: 63px;
    font-size: 14px;
    color: #191619;
}
.connectivity {
    position: absolute;
    top: 101px;
    left: 599px;
    backdrop-filter: blur(55px);
    text-shadow: 10px 0 0 #fcfcfc, 0 10px 0 #fcfcfc, -10px 0 0 #fcfcfc, 0 -10px 0 #fcfcfc;
}
.internet-corporate1 {
    position: absolute;
    top: 161px;
    left: 573px;
}
.layanan-akses-internet {
    position: absolute;
    top: 623px;
    left: 46px;
    display: inline-block;
    width: 1294px;
}
.spesifikasi-dan-fitur {
    margin: 0;
}
.fasilitas-smtp-relay {
    margin-bottom: 0px;
}
.fasilitas-smtp-relay-publik-we {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 43px;
}
.spesifikasi-dan-fitur-container {
    position: absolute;
    top: 814px;
    left: 46px;
    display: inline-block;
    width: 1297px;
}
.image-65-icon {
    position: absolute;
    top: 225px;
    left: 497px;
    width: 446px;
    height: 326px;
    object-fit: cover;
    display: inline-block;
    border: 2px solid #000000; /* Warna dan ketebalan border */
    padding: 10px; /* Ruang antara border dan gambar */
}
.internet-corporate {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1693px;
    text-align: left;
    font-size: 32px;
    color: #000;
    font-family: 'Plus Jakarta Sans';
}

