.contacts {
    position: absolute;
    top: 23px;
    left: 187px;
    cursor: pointer;
}
.product {
    position: absolute;
    top: 23px;
    left: 86px;
    cursor: pointer;
}
.home {
    position: absolute;
    top: 23px;
    left: 0px;
    cursor: pointer;
}
.image-40-icon {
    position: absolute;
    top: 0px;
    left: 596px;
    width: 136px;
    height: 63px;
    object-fit: cover;
    mix-blend-mode: multiply;
}
.top-taksbar-menu {
    position: absolute;
    top: 17px;
    left: 56px;
    width: 732px;
    height: 63px;
    font-size: 14px;
    color: #191619;
}
.connectivity {
    position: absolute;
    top: 101px;
    left: 599px;
    backdrop-filter: blur(55px);
    text-shadow: 10px 0 0 #fcfcfc, 0 10px 0 #fcfcfc, -10px 0 0 #fcfcfc, 0 -10px 0 #fcfcfc;
}
.open-access1 {
    position: absolute;
    top: 161px;
    left: 616px;
}
.open-access-adalah {
    position: absolute;
    top: 574px;
    left: 44px;
    display: inline-block;
    width: 1294px;
}
.spesifikasi-dan-fitur {
    margin: 0;
}
.pengembangan-jaringan {
    margin-bottom: 0px;
}
.pengembangan-jaringan-pengoper {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 43px;
}
.spesifikasi-dan-fitur-container {
    position: absolute;
    top: 774px;
    left: 44px;
    display: inline-block;
    width: 1297px;
}
.open-access {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1693px;
    text-align: left;
    font-size: 32px;
    color: #000;
    font-family: 'Plus Jakarta Sans';
}

